<%- include("header") -%>

<h3>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Magnam assumenda, exercitationem a suscipit veniam, 
    fuga voluptates in corrupti odit at sit libero dicta! 
    Eum rerum ea dolorem consequatur voluptate laboriosam?</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Official</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Official</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Official</p>

    <%- include("footer") -%>